react_workflow.json
{
  "Comment": "VenraCove ReAct Pattern for Enterprise Support",
  "StartAt": "ParseUserRequest",
  "States": {
    "ParseUserRequest": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ParseFunction",
      "Next": "DetermineAction"
    },
    "DetermineAction": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ActionFunction",
      "Next": "ActionChoice"
    },
    "ActionChoice": {
      "Type": "Choice",
      "Choices": [
        { "Variable": "$.actionType", "StringEquals": "troubleshoot", "Next": "TroubleshootingAction" },
        { "Variable": "$.actionType", "StringEquals": "billing", "Next": "BillingAction" }
      ],
      "Default": "GenerateResponse"
    },
    "TroubleshootingAction": { "Type": "Task", "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Troubleshoot", "Next": "GenerateResponse" },
    "BillingAction": { "Type": "Task", "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Billing", "Next": "GenerateResponse" },
    "GenerateResponse": { "Type": "Task", "Resource": "arn:aws:lambda:us-east-1:123456789012:function:ResponseFunction", "End": true }
  }
}